@model YungChingProgram.ViewModels.SingleCRUDInfoViewModel
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div id="dataDiv" class="x_content">
            <form id="formMain" onsubmit="return InsertOrUpdateData();">
                <div class="row form-horizontal form-label-left" style="margin-bottom:8px;">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">
                            部門代碼
                        </label>
                        <div class="col-md-7 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.SingleCRUDModel.Id, new { htmlAttributes = new { id = "id", Name = "id", @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">
                            部門名稱
                        </label>
                        <div class="col-md-7 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.SingleCRUDModel.Name, new { htmlAttributes = new { id = "name", Name = "name", @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">
                            部門類別
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            @Html.DropDownListFor(model => model.DTypeSelectList, Model.DTypeSelectList, new { id = "Dtype", Name = "Dtype", @class = "form-control " })
                        </div>
                    </div>
                </div>
                <div class="row form-horizontal form-label-left" style="margin-bottom:8px;">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <label class="control-label col-md-4 col-sm-3 col-xs-12">
                            部門人數
                        </label>
                        <div class="col-md-7 col-sm-6 col-xs-6">
                            @Html.EditorFor(model => model.SingleCRUDModel.HeadCount, new { htmlAttributes = new { id = "HeadCount", Name = "HeadCount", @type = "number", @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row form-horizontal form-label-left">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">儲存</button>
                            <button type="button" class="btn btn-danger" onclick="ClearInput()">清除</button>
                            <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("Index", "SingleCRUD")'">離開</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var modeString = "";
    $(document).ready(function () {
        //如果是修改模式則鎖定PK格子
        if ("@Model.Mode" == "Update") {
            if ("@Model.ErrorMessage" != "") {
                $("#TipSpan").text("@Model.ErrorMessage");
                OpenTipModal();
            }
            $("#id").prop('disabled', true);
            $("#Dtype").val("@Model.SingleCRUDModel.Dtype");
            modeString = "修改"
        }
        else {
            modeString = "新增"
        }
        //前端檢核
        $("#formMain").validate({
            rules: {
                id: {
                    required: true,
                    maxlength: 10,
                    regex: "[A-Za-z0-9]+"
                },
                name: {
                    required: true,
                    maxlength: 10,
                    regex:"[\u4e00-\u9fa5_a-zA-Z0-9]+"
                },
                HeadCount: {
                    number: true,
                    min: 1,
                }
            },
            messages: {
                id: {
                    required: "請輸入部門代碼",
                    maxlength: "最多只能輸入10個字",
                    regex:"只能輸入英文和數字"
                },
                name: {
                    required: "請輸入部門名稱",
                    maxlength: "最多只能輸入10個字",
                    regex: "只能輸入中文、英文和數字"
                },
                HeadCount: {
                    number: "請輸入數字",
                    min:"至少輸入0以上的人數",
                },
            }
        });
    });

    function ClearInput() {
        if ("@Model.Mode" == "Update") {
            $("#formMain :input").not("#id").val('')
        }
        else{
            $("#formMain :input").val('')
        }
    }

    function InsertOrUpdateData() {
        var modeUrl = "";
        if ("@Model.Mode" == "Update") {
            modeUrl = '@Url.Action("UpdateSingleCRUDData", "SingleCRUD")'
        }
        else
        {
            modeUrl = '@Url.Action("InsertColumnCRUDData", "SingleCRUD")'
        }
        var formDatas = $("#formMain :input");
        $("#id").prop('disabled', false);
        if (formDatas.valid()) {
            $.ajax({
                url: modeUrl,
                data: formDatas.serialize(),
                type: 'post',
                success: function (data) {
                    if (data.result == "true") {
                        $("#TipSpan").text(modeString + "成功");
                        $("#id").prop('disabled', true);
                        $("#tipsButton").click(function () {
                            location.href = '@Url.Action("index", "SingleCRUD")';
                        });
                        OpenTipModal();
                    }
                    else if (data.result == "false") {
                        $("#TipSpan").text(modeString + "失敗");
                        OpenTipModal();
                    }
                    else {
                        $("#TipSpan").text(data.result);
                        OpenTipModal();
                    }
                }
            })
        }
        return false;
    }

    //顯示Dialog提示
    function OpenTipModal() {
        $('#TipModal').modal({
            backdrop: 'static', keyboard: false
        });
    }
</script>
